*{
    padding: 0;
    margin: 0;
}
body,html {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑", "Microsoft Yahei";
}
body {
    background: url("../images/loginBg.png") no-repeat center;
    background-size: cover;
}
.logo {
    height: 50%;
    background: url("../images/logo.png") no-repeat center;
    background-size: 60%;
}
.word {
    color: #d9c19b;
    text-align: center;
}
.passWrad,
.userNum {
    width: 80%;
    margin: auto;
    height: 40px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0px -1px 1px #999;

}
.userNum .icon {
    float: left;
    height: 40px;
    width: 20%;
    background: url("../images/number.png") no-repeat center;
    background-size: 20px;
}
.passWrad .icon {
    float: left;
    height: 40px;
    width: 20%;
    background: url("../images/passwordIcon.png") no-repeat center;
    background-size: 20px;
}
input {
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 80%;
    border: none;
    padding: 2px;
    color: #fff;
    background-color: rgba(255,255,255,0);
}
.loginBtn {
    height: 40px;
    line-height: 40px;
    color: #eee;
    background-color: #89a49b;
    width: 80%;
    margin: 20px auto 0 auto;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.bot {
    color: #ccc;
    font-size: 10px;
    margin: 6px 10%;
}